<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            width: 700px;
            height: 500px;
            background-color: orange;
            overflow: auto;
        }
    </style>
</head>
<body>
    <div class="box">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto quos aut fugit odio quam facilis atque illum debitis. Asperiores, cumque quo ut ducimus deleniti est voluptatem. In placeat culpa impedit.
        Repellendus ipsam perspiciatis vel officiis, tempore sed temporibus ipsa, error minus, ullam aperiam numquam odio fugiat? Quis, itaque rerum esse expedita perspiciatis officiis vero eum assumenda tempora amet adipisci repudiandae!
        Quo itaque officiis, quaerat reiciendis, voluptatum earum eaque minima, atque veniam aliquam nesciunt. Quasi cumque sapiente sunt est aspernatur rem exercitationem dolore tempora distinctio. Magni fugit temporibus eos veritatis nemo.
        Ex nisi unde quos, in quaerat ea ipsam accusamus sint nobis porro ullam fugiat architecto voluptates velit minus sunt tempora vero eius laboriosam officiis ratione corporis? Officiis velit dolor doloremque!
        At molestias velit impedit porro corrupti deleniti, ullam cum officia, inventore alias dolorem laboriosam expedita dolore fugiat voluptatibus quibusdam modi assumenda id placeat iste sunt? Consectetur facere ex aut quia.
     aspernatur iure?
        Deserunt labore soluta quas delectus et blanditiis, quod quam obcaecati nostrum animi architecto accusantium sequi illo. Voluptatem, laborum? Repellendus ducimus aliquam corrupti? Error vitae ullam labore nobis ratione quo qui!</p>
    </div>
</body>
</html>