<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phần tử giả</title>
    <style>
          p::first-line{
            color: red;
        }
        p::first-letter{
            font-size: 40px;
            color: blue;
        }
        .box::before{
            display: inline-block;
            width: 100px;
            height: 100px;
            background-color: black;
            content: "";
            color: rgb(230, 242, 242);
        }

        .box::after{
            content: "em ở đằng sau nè";
        }

    </style>
</head>
<body>
    <div class="box">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet iure quis, nemo numquam, ratione tenetur error quidem ea adipisci accusamus possimus totam, ipsum necessitatibus laudantium illo. Enim eum a assumenda.
        Aliquam consequuntur cumque quae porro distinctio debitis, nam quo, molestiae consequatur, iste possimus. Tempora, saepe. Ratione, minima. Repellat tenetur harum illum dicta fuga modi odio suscipit ullam. Mollitia, fugiat odit.
        Doloremque maxime, perferendis ipsa obcaecati ut fugiat alias, nisi inventore molestias repellendus facilis quidem in cumque voluptatem quaerat. Magni animi non, ad consectetur quod beatae quo a possimus voluptates. Delectus.
        Consequatur, laborum! Quibusdam similique sed neque inventore, at ea ipsum tempore vel velit, vitae magni doloribus dolore maiores et est sequi ducimus amet magnam sit nisi illo! Vitae, necessitatibus quas.
        Rerum at fugiat cupiditate dicta modi vel expedita iste distinctio asperiores minima recusandae deserunt repudiandae accusamus aliquid est commodi, illum, cumque quas maiores. Aliquam est doloribus, assumenda nulla facilis ipsa.
        Odio vel itaque sint nemo velit quis mollitia ut quas soluta harum accusantium accusamus maxime veritatis, iste perferendis. Sint sit distinctio non placeat explicabo a officia possimus voluptatum rem exercitationem.
        Quasi quis aperiam harum nesciunt laborum laboriosam blanditiis aliquam officia? Excepturi quo explicabo unde quisquam earum, voluptatum culpa, corporis voluptatibus, fugit nam debitis iure. Molestiae commodi minus possimus dolorum eum.
        Expedita unde fugiat placeat nulla eos? Dignissimos veniam commodi ipsum autem dolorem impedit a aperiam tempore, quisquam magni repellendus! Voluptatibus voluptatum officiis maxime eligendi quam maiores commodi dolorem cupiditate quaerat.
        Voluptas exercitationem ex quis natus officiis labore beatae. Repellendus, repellat! Nemo expedita libero, fugiat alias beatae dignissimos consequuntur vero earum inventore nam nesciunt id odio, molestias natus eum! Delectus, temporibus.
        Ea recusandae quis odit soluta sit. Odit iusto esse sed placeat sunt fugit exercitationem eos architecto, distinctio provident aspernatur eius, ut, voluptates cum voluptatibus repellendus alias ab. Fugit, omnis odit.</p>
       </div>
</body>
</html>