/* Các thuộc tính CSS không thể kế thừa sẽ đặt tại Universal Selector */
* {
    box-sizing: border-box; /* Chuẩn hóa box-sizing */
    margin: 0;  /* Reset margin về 0 */
    padding: 0; /* Reset padding về 0 */
  }
  
  /* Dành cho các thuộc tính có thể kế thừa */
  body {
    font-family: Arial, sans-serif; /* Set default font for body */
    line-height: 1.5; /* Set default line-height for body */
  }